@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
    font-family: 'Roboto', sans-serif;
}

.view {
    position: relative;
    display: none;
}

.superscript{
font-size:80%;
position:super;
vertical-align:top;
}


.active-view {
    display: block;
}

@keyframes loading-modal-fade-in {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
        opacity: 1;
    }
}

.loading-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba( 255, 255, 255, .8 ) url(../images/ajax-loader.gif) 50% 50% no-repeat;
}

body.loading-modal-active {
    /* Hide scrollbars when popup is in place */
    overflow: hidden;
}

body.loading-modal-active .loading-modal {
    display: block;
    
    animation: loading-modal-fade-in 0.1s linear;
}

.no-top-margin {
    margin-top: 0 !important;
}

.xs-top-margin {
    margin-top: 5px !important;
}

.sm-top-margin {
    margin-top: 10px !important;
}

.md-top-margin {
    margin-top: 20px !important;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.xs-bottom-margin {
    margin-bottom: 5px !important;
}

.sm-bottom-margin {
    margin-bottom: 10px !important;
}

.md-bottom-margin {
    margin-bottom: 20px !important;
}

.no-left-margin {
    margin-left: 0 !important;
}

.xs-left-margin {
    margin-left: 5px !important;
}

.sm-left-margin {
    margin-left: 10px !important;
}

.md-left-margin {
    margin-left: 20px !important;
}

.no-right-margin {
    margin-right: 0 !important;
}

.xs-right-margin {
    margin-right: 5px !important;
}

.sm-right-margin {
    margin-right: 10px !important;
}

.md-right-margin {
    margin-right: 20px !important;
}

/* header buttons */
.header-buttons {
    float: right;
}
.header-buttons a,
.header-buttons button {
    vertical-align: top;
}

.header-buttons::after {
    content: "";
    display: table;
    clear: both;
}

/* from http://bootsnipp.com/snippets/55oav */
.status-perfect {
  background-color: #5cb85c;
  width: 100%;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 20px;
  margin: 0px 0px 20px 0px;
}

.status-reduced {
  background-color: #5bc0de;
  width: 100%;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 20px;
  margin: 0px 0px 20px 0px;
}

.status-critical {
  background-color: #f0ad4e;
  width: 100%;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  padding: 15px 20px;
  margin: 0px 0px 20px 0px;
}

.auto-width {
    width: auto !important;
}

/* let the brand be highlighted too */
.navbar-inverse .navbar-header .active {
    background-color: #080808;
}
