.game-view {
    width:99%;
}

.game-view .score-panel {
    width: 100%;
    height: 45px;
    text-transform: uppercase;
    padding: 10px;
    line-height: 32px;
    font-size: 32px;
    font-weight: 900;
    color: #18501F;
}

.game-view .cards-container {
    width: 100%;
    height: 725px;
}

.game-view .cards-container::after {
    display: table;
    content: "";
    clear: both;
}

/*.game-view .card:nth-child(1),
.game-view .card:nth-child(5),
.game-view .card:nth-child(9) {
    margin-left: 50px;
}

.game-view .card:nth-child(4),
.game-view .card:nth-child(8),
.game-view .card:nth-child(12) {
    margin-right: 50px;
}*/

.game-view .card {
    position: relative;
    width: 230px;
    height: 250px;
    margin: 10px 10px;
    padding: 25px;
    float: left;
    background-image: url(../media/game/unselected-card.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.game-view .selected-card {
    background-image: url(../media/game/selected-card.png);
    background-size: 93%;
}

.game-view .card .flipped-overlay {
    display: none;
}

.game-view .flipped-card {

}

.game-view .flipped-card .flipped-overlay {
    display: block;
    position: absolute;
    width: 240px;
    height: 240px;
    top: 0;
    left: 2;
    z-index: 100;
    background-image: url(../media/game/flipped-card.png);
    background-size: 100%;
    background-position: center;
    cursor: default;
}

.game-view .image-card .image {
    display: block;
    margin: 15px;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.game-view .image-card img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.game-view .waveform-card {
    position: relative;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: 250px;
    text-align: center;
    background-image: url(../media/game/unselected-card.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.game-view .waveform-card .image {
    display: block;
    margin: 15px;
    border-radius: 20px;
    width: 90%;
    height: 160px;
    background-color: white;
}

.game-view .waveform-card img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.game-view .waveform-card .play-button {
    display: block;
    margin: 0 auto;
    width: 45px;
    height: 45px;
    top: -45px;
}

.game-view .spectrogram-card .image {
    display: block;
    margin: 15px;
    border-radius: 20px;
    width: 92%;
    height: 200px;
}

.game-view .spectrogram-card img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.game-view .name-card .name {
    width: 230px;
    margin-top: 50px;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: yellow;
    word-break: keep-all;
}

.game-view .answer-card {
    width: 100%;
    height: 250px;
    padding-bottom: 50px;
    margin:auto;
}

.game-view .name {
    width: 230px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: yellow;
    word-break: keep-all;
}
